{% extends "::base.html.twig" %}

{% block body %}
    <div class="global section">
        <div class="picture"></div>
        <div class="container">
            <div class="promo raw">
                <div class="promoBox promoWeek col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    PROMO
                </div>
                <div class="promoBox promoMonth col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    PLANTE DU MOIS
                </div>
            </div>
            <div class="map raw">
                <div class="map-canvas col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d5570764.080696398!2d1.2369705010943213!3d47.018648987109856!3m2!1i1024!2i768!4f13.1!2m1!1sFLORIS+agora!5e0!3m2!1sfr!2sfr!4v1425165731951"></iframe>
                </div>
                <div class="map_info col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p>Magasin Floris</p>
                    <p>Lundi : 9h - 18h</p>
                    <p>Mardi : 9h - 18h</p>
                    <p>Mercredi : 9h - 18h</p>
                    <p>Jeudi : 9h - 18h</p>
                    <p>Vendredi : 9h - 18h</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
