{% extends "::base.html.twig" %}

{% block body %}
    <div class="global section">
        <div class="Pict">
            <div class="picture col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo col-lg-offset-11 col-lg-1 col-md-offset-11 col-md-1 col-sm-offset-11 col-sm-1 col-xs-offset-11 col-xs-1"></div>
            </div>
        </div>
        <div class="promo row">
            <div class="container">
                <div class="promoBox col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="pBox">
                    PROMO DE LA SEMAINE
                    </div>
                </div>
                <div class="promoBox col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="pBox">
                    PLANTE DU MOIS
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="promoBox col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="pBox">
                    ACCESSOIRE EN PROMO
                    </div>
                </div>
                <div class="promoBox col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="pBox">
                    LES MEILLEURS DÉCO
                    </div>
                </div>
            </div>
        </div>
        <div class="carou">
            <div class="container">
                <div class="caroumiddle col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cycle-slideshow" data-cycle-fx="carousel" data-cycle-timeout="1400"
                    data-cycle-carousel-visible="9" data-cycle-carousel-fluid=true>
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower1.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower2.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower3.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower4.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower5.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower6.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower7.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower8.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower9.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower10.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="map col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="map-canvas col-lg-offset-1 col-lg-6 col-md-offset-6 col-md-6 col-sm-6 col-xs-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d5570764.080696398!2d1.2369705010943213!3d47.018648987109856!3m2!1i1024!2i768!4f13.1!2m1!1sFLORIS+agora!5e0!3m2!1sfr!2sfr!4v1425165731951"></iframe>
                </div>
                <div class="map_info col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-4 col-xs-4">
                    <p>Horaire magasins Floris</p>
                    <p>Lundi : 9h - 18h</p>
                    <p>Mardi : 9h - 18h</p>
                    <p>Mercredi : 9h - 18h</p>
                    <p>Jeudi : 9h - 18h</p>
                    <p>Vendredi : 9h - 18h</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
