{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/easyslamuser/css/user.css') }}" />
{% endblock %}

{% block body %}
    {% block content %}
        <div class="section">
            <div class="image">
                <div class="container">
                    <div class="content">
                        {% block fos_user_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}